.heading-div {
  display: flex;
  flex-wrap: wrap;
  width: auto;
  height: auto;
  font-family: "Poppins", sans-serif;
  font-size: 100px;
}

.text-div {
  display: flex;
  flex-wrap: wrap;
  width: auto;
  height: auto;
  font-family: "Roboto", sans-serif;
}

@media (max-width: 1000px) {
  .heading-div {
    font-size: 50px;
  }
}
